PORT=3000
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=root
DB_PASSWORD=root
DB_DATABASE=super_liga
JWT_SECRET=change_me_to_a_long_secret
SUPERADMIN_EMAIL=superadmin@example.com
SUPERADMIN_USERNAME=admin
SUPERADMIN_PASSWORD=admin
SUPERADMIN_FIRSTNAME=Super
SUPERADMIN_LASTNAME=Admin
CORS_ORIGIN=http://localhost:4200
